@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: rgb(203, 168, 243);
    padding: 10px;
}
nav > p:hover {
    background-color: white;
    border-radius: 8px;
    
}

header {
    background-color: rgb(203, 168, 243);
}

section {
    background-color: rgb(203, 168, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    

}

section > h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 45px;
}
    
img {
    width: 300px;
}

div.container{
    width: 150px;
    display: flex;
    flex-direction: column;

    gap: 8px;
    
    
    
}
.caixa1 {
    background-color: rgb(255, 187, 0);
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    
    
}
.caixa2 {
    background-color: lightpink;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.caixa3 {
    background-color: rgb(168, 77, 105);
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.caixa4 {
background-color: white;
height: 28px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 5px; 
}

